rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

    match /restaurants/{restaurantId}/menu/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

    match /private/{allPaths=**} {
      allow read, write: if false;
    }
  }
}
